<div class="container"> 
    <div class="row m-t-3"> 
        <div class="col-md-9"> 
            <div class="card "> 
                <div class="card-block"> 
                    <h2>404 Not Found</h2>
                    The page you have requested cannot be found.
                    <br>
                    Perhaps you are here because:
                    <li>The page has moved</li>
                    <li>The page no longer exists</li>
                    <li>You like 404 pages</li>
                    <br>
                    <a href="/index.html" class="btn btn-primary"><h4 class="card-title">Return to home page</h4></a>

                </div> 
            </div> 
        </div> 
    </div> 
</div>